body {
    background-color: #215349;
}

.Logo {
    width: 65px;
    height: 55px;
    display: inline-block;
    float: left;
}

ul {
    position: sticky;
    overflow: hidden;
    background-color: #FFC700;
}

li {
    display: inline;
    float: left;
}

li a {
    display: inline-block;
    color: #272827;
    text-align: center;
    padding: 18px 40px;
    text-decoration: none;
    background-color: #FFC700;
}

li a:hover {
    background-color: rgb(214, 178, 47);
  }

.CajaPrincipal {
    width: 100%;
    height: 400px;
    background: #57776f;
    margin: ;
    padding: ;
    display: ;

}

.Imagen-principal {
    width: 100%;
    height: 100%;
}

.Imagen-principal-texto {
    position: absolute;
    left: 100px;
    top: 120px;
    color: #ffff;
    font-weight: bold;
}

.Imagen-principal-texto > h1 {
    font-size: 20px;
    color: white;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.Largos {
    width: 100%;
    height: auto;
    background: #FFFBE9;
    display: block;
}

.Largos-foto {
    width: 200px;
    height: 200px;
    padding: 20px 550px;
}

.Largos h1 {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    margin: 2rem;
    padding: 2rem
}

.Largos p {
    font-size: 1.5rem;
    color: black;
    text-align: justify;
    margin: 2rem 10rem;
}

.tarjeta {
    background-color: #F3C8E7;
    margin: 50px;
}

.tarjeta > img {
    max-width: 100%;
    height: auto;
}

.tarjeta h1 {
    font-size: 1.5rem;
}

.tarjeta p {
    font-size: 1rem;
    color: black;
}

.tarjeta > .texto {
    padding: 0 20px 20px;
    color: black;
}

button {
    cursor: pointer;
    background: #AFA0AF;
    border: 0;
    font-size: 1rem;
    color: black;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: #8E768F;
}

footer {
    width: 100%;
    text-align: justify;
    background-color: #FFC700;
    padding: 1rem 32rem;
}

footer p {
    font-size: 1rem;
}

@media only screen and (max-width: 375px) {
    body {
      background-color: #4a736b;
    }
  }

@media only screen and (max-width: 768px) {
    body {
        background-color: #4a736b;
    }
}

@media only screen and (max-width: 1366px) {
    .CajaPrincipal {
        height: 500px;
    }
}