body {
    background-color: #215349;
}

ul {
    position: sticky;
    overflow: hidden;
    background-color: #C28100;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #9F6F10;
  }

a {
    display: block;
    padding: 8px;
    background-color: #C28100;
}
  
.Imagen-principal {
    width: 100%;
    height: 100%;
    padding: 0px 0px 210px 0px;
}

.Imagen-principal-texto {
    position: absolute;
    left: 30%;
    top: 20%;
    color: #57776f;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.Imagen-principal-texto > h1 {
    font-size: 20px;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Datos {
    background-color: #816834;
    color: whitesmoke;
    text-align: center;
    width: 60%;
    margin-left: 145px;
}

.Características {
    border: double;
}

.Stats {
    position: relative;
    background-color: #816834;
    margin: 0px 235px 0px 235px;
}

.skills {
    text-align: left; 
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.vida {
    width: 90%;
    background-color: #007C64;
    margin-left: 40px;
}

.ataque {
    width: 65%;
    background-color: rgba(141, 202, 92, 0.651);
    margin-left: 40px;
}

.defensa {
    width: 45%;
    background-color: rgb(167, 161, 78);
    margin-left: 40px;
}
.atqesp {
    width: 45%;
    background-color: rgb(167, 161, 78);
    margin-left: 40px;
}

.defesp {
    width: 65%;
    background-color: rgba(141, 202, 92, 0.651);
    margin-left: 40px;
}

.velocidad {
    width: 23%;
    background-color: rgb(170, 99, 33);
    margin-left: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.tarjeta {
    background-color: rgb(103, 180, 167);
    margin: 50px;
}

.tarjeta > img {
    max-width: 100%;
    height: auto;
}

.tarjeta h1 {
    font-size: 1.5rem;
}

.tarjeta p {
    font-size: 1rem;
    color: whitesmoke;
}

.tarjeta > .texto {
    padding: 0 20px 20px;
    color: whitesmoke;
}

button {
    cursor: pointer;
    background: rgb(85, 159, 177);
    border: 0;
    font-size: 1rem;
    color: rgb(13, 46, 51);
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: rgb(57, 107, 107);
}

.cartas {
    background-color: rgb(183, 218, 214);
}

footer {
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #9F6F10;
}

footer p {
    font-size: 1rem;
}

@media only screen and (max-width: 375px) {
    body {
      background-color: #4a736b;
    }
  }

@media only screen and (max-width: 768px) {
    body {
        background-color: #4a736b;
    }
}

@media only screen and (max-width: 1366px) {
    body {
        background-color: ;
    }
}